.games {
    text-align: center;
    color: #ffff;
    /* background: #000; */
    
}
/* #mycanvas{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
} */